<%= form_for(:session, :url => sessions_path) do |f| %>

  <%= f.label :email do %>
    <span class="field-label">Email</span>
    <%= f.text_field :email %>
  <% end %> </br>

  <%= f.label :password do %>
    <span class="field-label">Password</span>
    <%= f.password_field :password%>
  <% end %>

  <div class="actions">
    <%= f.submit "Sign In" %>
  </div>

<% end %>
