<%= form_for(@time_entry) do |f| %>
  <% if @time_entry.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @time_entry.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :duration do %>
    <span class="field-label">Duration in Hours</span>
    <%= f.number_field :duration %>
  <% end %> </br>

  <%= f.label :date do %>
    <span class="field-label">Date Time was Spent</span>
    <%= f.date_field :date%>
  <% end %>

  <%= f.hidden_field :project_id, :as => :hidden, :value => @project_id  %>
  <%= f.hidden_field :programmer_id, :as => :hidden, :value => @programmer_id  %>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
