<h2>All Time Entries</h2>
<%= notice %>

<table>
  <thead>
    <tr id="row-header">
      <th>Duration</th>
      <th>Entry Date</th>
      <th>Project</th>
      <th>Programmer</th>
    </tr>
  </thead>

  <tbody>
    <% @time_entries.each do |e| %>
      <tr id="row-body">
        <td id="duration"><%= e.duration %></td>
        <td id="date"><%= e.date %></td>
        <td id="project-id">
          <%= project_name(e.project_id) %>
        </td>
        <td id="programmer">
          <%= programmer_name(e.programmer_id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
