<!DOCTYPE html>
<html>
<head>
  <title>TimeTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
    <% unless session[:user_id] == nil %>
      <li>Logged in as: <%= Programmer.find_by(id: session[:user_id]).first_name %></li>
      <li><%= link_to "Sign Out", signout_path %></li>
    <% end %>
</ul>

<%= yield %>

</body>
</html>
